################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GestionPrestamosPersonales
/bin/**
/obj/**
obj/staticwebassets.pack.sentinel
