<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionPrestamosPersonales</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ocupacion">
                <span class="oi oi-dollar" aria-hidden="true"></span> Ocupaci&oacute;n
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ocupaciones">
                <span class="oi oi-list" aria-hidden="true"></span> Ocupaciones
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Persona">
                <span class="oi oi-dollar" aria-hidden="true"></span> Persona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Personas">
                <span class="oi oi-list" aria-hidden="true"></span> Personas
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prestamo">
                <span class="oi oi-dollar" aria-hidden="true"></span> Pr&eacute;stamo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prestamos">
                <span class="oi oi-list" aria-hidden="true"></span> Pr&eacute;stamos
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pago">
                <span class="oi oi-dollar" aria-hidden="true"></span> Pago
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagos">
                <span class="oi oi-list" aria-hidden="true"></span> Pagos List
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
